nav {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.main-logo {
    font-weight: 700;
    color: var(--pri-color);
    font-size: 1.2rem;
}

.link-item {
    text-decoration: none;
    color: var(--grey-color);
    margin: 0 8px;
}

.link-item:hover {
    color: var(--pri-color);
}

.nav-button {
    border: none;
    font-weight: 600px;
    font-size: 0.8rem;
    padding: 10px 15px; 
    border-radius: 5px;
    background: #006C3A;
    color: #fff;
}

@media screen and ( max-width: 500px ) {
    .link-group {
        display: none;
    }
}