 .whyus {
    padding: 60px 20px;

 }

 .whyus-container {
    background-color:#F4F4F4;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
 }

 .whyus-container h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.whyus-container > p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #808080;
    text-align: center;
}

.whyus-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.whyus-item {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.whyus-item h3 {
    font-weight: 600;
    margin-top: 10px;
     
}

.whyus-item p{
    font-weight: 300;
    line-height: 1.5;
    margin: 10px 0;
    color: #808080;
}

@media screen and (max-width: 500px) {
    .whyus-group {
        grid-template-columns: 1fr;
    }
}